.image {
  background: linear-gradient(179.56deg, #5659c7 10.21%, #6f71c7 183.43%);
  background-image: url("../assets/providers-register-bg.jpg");
  background-repeat: no-repeat;
  min-height: 501.58px;
  height: 100%;
  background-size: contain;
}